.home {
    display: grid;
    grid-template-columns: 1fr 8fr;
}
.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}

.main-image {
    padding: 1rem;
}
.main-image img {
    max-height: 300px;
}