<mat-card class="home mat-elevation-z3">
  <div class="main-image">
    <img class="logo" src="assets/img/claramente-600x600.jpg" alt="{{ title }} logo">
  </div>
  <div>
    <mat-card-title class="title">Claramente</mat-card-title>
    <mat-card-subtitle class="subtitle">Bem-vindo ao Claramente, uma série de podcasts de autoconhecimento inspirada nos premiados livros e autores da Objetiva e da Companhia das Letras. Claramente discutirá as mais recentes pesquisas científicas que tratam das questões que nos afligem diariamente, de como tomar decisões na vida e nos negócios e conseguir se organizar no mundo atual a como mudar nossos hábitos e entender o que de fato é felicidade. Os episódios serão publicados quinzenalmente, às terças-feiras, e contarão com convidados das mais diversas áreas.</mat-card-subtitle>
  </div>
</mat-card>

  
